@model IEnumerable<PracticalTest.Models.Service>

@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Services</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
}
    </tbody>
</table>
